/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
}

main img.styled-image {
    display: block; /* Enlève les espaces vides en ligne autour de l'image */
    margin: 0 auto; /* Centre l'image si elle a des marges */
}

.styled-image {
    width: 100%;
    height: auto;
    border: 3px solid gray;
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Effet d'ombre */
}

/* Header */
header {
    background-color: white;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 1rem;
}

/* Menu liste */
header nav ul li a {
    color: #5760e5;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #f1f1f1;
    color: #333;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
